# Virtual Environments
venv/
.venv/
env/
reels/
reels_strategy/
reading/
mentor/
assets/favicon/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Mac OS System Files
.DS_Store

# Environment Variables
.env

#Pages
# pages/2_Dot_Product.py
# pages/3_Matrices.py

# #Core
# core/day02_dot_product.py
# core/day03_matrices.py